
*{
  margin: 0px;
  padding: 0px;
}

.container {
  background: url('image.png') no-repeat center center fixed;
  background-size: 100% auto;
  
   color: white; 
  min-height: 100vh; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  padding: 0;
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  padding: 20px;
  background-color: rgba(18, 18, 18, 0.9);
}

.logo {
  font-size: 28px;
  font-weight: bold;
  color: #ab5507;
}

.nav-links {
  display: flex;
}

.nav-link {
  color: white;
  text-decoration: none;
  margin: 0 15px;
  font-size: 18px;
  font-weight: 500;
  border: none;
}

.nav-link:hover {
  color: #ab5507;
}

.auth-links {
  display: flex;
}

.auth-link {
  color: white;
  text-decoration: none;
  margin: 0 10px;
  font-size: 18px;
  font-weight: 500;
  border: none;
  position: relative;
  animation: fadeIn 1.5s ease;
}

.auth-link:hover {
  color: #ab5507;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  padding: 40px 20px;
  width: 100%;
  height: 100%;
}

.hero-title {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #ab5507;
}

.hero-description {
  font-size: 20px;
  margin-bottom: 20px;
}

.hero-button {
  background-color: #ab5507;
  color: white;
  padding: 12px 24px;
  text-decoration: none;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.hero-button:hover {
  background-color: #873f06;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
